---
import MainLayout from '../layouts/MainLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import MainSection from '../components/MainSection.astro';
import InfoSection from '../components/InfoSection.astro';
import VideoSection from '../components/VideoSection.astro';
import AcademicSection from '../components/AcademicSection.astro';
import ImageSection from '../components/ImageSection.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout title="Dr. Debasis Maity">
  <div id="hero">
    <HeroSection />
  </div>
  <div id="main">
    <MainSection />
  </div>
  <div id="info">
    <InfoSection />
  </div>
  <div id="video">
    <VideoSection />
  </div>
  <div id="academic">
    <AcademicSection />
  </div>
  <div id="image">
    <ImageSection />
  </div>
  <Footer />
</MainLayout>
