---
---

<section class="hero">
  <a href="/">
    <div class="hero-content">
      <div class="jumbotron">
        <h1 class="display-4 text-primary">Dr. Debasis Maity</h1>
        <p class="lead text-center text-primary">Consultant Uro-Surgeon</p>
      </div>
    </div>
  </a>
</section>

<style>
  h1, h2, h3, h4, h5, h6{
    text-align:center;
  }
</style>
